/*controla o estilo do body inteiro, o que for colocado aqui será implentado ao código inteiro 
font- family = muda a fonte original para uma fonte desejada,
backround-color = muda a cor de fundo da página,
margin = define uma margem ao site.*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
    margin: 0;
}
/*como cabecalho é classe da header que está dentro de uma div o que está abaixo vai apenas alterar o que estiver dentro da tag
header 
background-image - coloca uma imagem selecionada de bacground,
height - determina a altura de um componente,
background-position - determina a posiçao de centralizamento da imagem o fundo desjado
background-size - determina o tamanho do background dentro do div,
usando cover a imagem corbre todo o background */
.cabecalho{
    background-image: url(../imagens/bg-3.jpg);
    height: 500px;/* aumentar*/
    background-position: right center;
    background-size: cover;
    margin: 0;
    top: 0;
}
.cabecalho li{
    display: inline-block;
    margin: 5px;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.3);
}
.cabecalho a {
    text-decoration: none;

}
a:hover{
    color: #f0e2a4;
}
a{
    color: white;
}
/*titulo é uma classe de uma outra div 
text-align - alinha o texto de forma desejada
color - muda a cor de toda a classe titulo*/
.titulo{
    text-align: center;
    color: white;
    margin-top:150px;
}
/* utilizando a classe titulo com a tag h1, é alterado tudo que está dentro da tag h1, na classe titulo
text-transform - altera o texto
font-size - muda o tamanho da fonte
text-shadow - adiciona sombra ao texto, (no exemplo abaixo a sombra tem 3px de altura por 3px de largura 3px de profundidade e 
a cor preto )*/
.titulo h1{
    text-transform: uppercase;
    font-size:46px;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 150px;
}

.titulo a{
    border-bottom: black solid;
    background-color:rgba(0, 0, 0, 0.3);
    padding: 10px;
    padding-bottom: 0px;
}

/* muda tudo que está dentro da tag main*/
main{
    width: 80%;
    margin: auto;
    height: 80%;
    background-color: white;
}

.card{
    display: inline-block;
    text-align: center;
    margin: 20px 28px;
}
.card img{
    opacity: 0.7;
}
.card img:hover{
    opacity: 1;
}
.card a{
    color: black;
    text-decoration: none;
}

.card a:hover{
    color: rgba(33, 34, 39, 0.4);
}

section{
    margin: 15px 0px;
}
article{
    border-top: #ccc solid 15px;
}

footer{
    background-color: rgb(129, 124, 124);
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
}
.rodape p{
    padding-top: 15px;
}