.nav-item {
    margin-right: 1rem;
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-item a {
    color: #fff;
    text-decoration: none;
}

.imagem {
    height: 100vh;
    background-attachment: fixed;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 75%);
    box-shadow: 0 0 200px #000000;
}

.carousel-caption h5 {
    font-size: 3rem;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.container h1 {
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}

.img01 {
    width: 100%;
    margin: 3rem 0 1rem 0;
}

.tecnologias li {
    margin-top: 1rem;
    text-align: justify;
    font-size: 1.3rem;
    font-weight: 350;
}

/* Rodapé */
.rodape {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 0;
    margin-top: 3rem;
    color: #F2F2F2;
}

.navbar-brand {
    color: #F2F2F2;
    text-align: center;
}

.navbar-brand:hover {
    color: #F2F2F2;
}

.rodape p {
    margin-top: 1rem;
}

@media screen and (max-width: 768px) {
    
    .carousel-caption h5 {
        font-size: 1.5rem;
    }

    .carousel-caption p {
        font-size: .8rem;
    }

    .container {
        width: 95%;
    }
    
    
    .rodape {
        padding: .5rem 0;
        width: 100%;
        display: inline-block;
    }

}